<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Footsee.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>17Mar21</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>0CA364D035FBC8213366ABD150A90B6C19E22A72</string>
				<key>dateExpires</key>
				<string>3/17/23</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0CA364D035FBC8213366ABD150A90B6C19E22A72</string>
						<key>dateExpires</key>
						<string>3/17/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>BoltsSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>785CPL56AF</string>
						<key>name</key>
						<string>Shweta Dahiya (Individual)</string>
					</dict>
					<key>versionNumber</key>
					<string>1.5.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0CA364D035FBC8213366ABD150A90B6C19E22A72</string>
						<key>dateExpires</key>
						<string>3/17/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>DropDown.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>785CPL56AF</string>
						<key>name</key>
						<string>Shweta Dahiya (Individual)</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.13</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0CA364D035FBC8213366ABD150A90B6C19E22A72</string>
						<key>dateExpires</key>
						<string>3/17/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MarqueeLabel.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>785CPL56AF</string>
						<key>name</key>
						<string>Shweta Dahiya (Individual)</string>
					</dict>
					<key>versionNumber</key>
					<string>4.0.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0CA364D035FBC8213366ABD150A90B6C19E22A72</string>
						<key>dateExpires</key>
						<string>3/17/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MetaWear.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>785CPL56AF</string>
						<key>name</key>
						<string>Shweta Dahiya (Individual)</string>
					</dict>
					<key>versionNumber</key>
					<string>4.1.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0CA364D035FBC8213366ABD150A90B6C19E22A72</string>
						<key>dateExpires</key>
						<string>3/17/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>NotificationBannerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>785CPL56AF</string>
						<key>name</key>
						<string>Shweta Dahiya (Individual)</string>
					</dict>
					<key>versionNumber</key>
					<string>3.0.6</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0CA364D035FBC8213366ABD150A90B6C19E22A72</string>
						<key>dateExpires</key>
						<string>3/17/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SnapKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>785CPL56AF</string>
						<key>name</key>
						<string>Shweta Dahiya (Individual)</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0CA364D035FBC8213366ABD150A90B6C19E22A72</string>
						<key>dateExpires</key>
						<string>3/17/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftProtobuf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>785CPL56AF</string>
						<key>name</key>
						<string>Shweta Dahiya (Individual)</string>
					</dict>
					<key>versionNumber</key>
					<string>1.18.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0CA364D035FBC8213366ABD150A90B6C19E22A72</string>
						<key>dateExpires</key>
						<string>3/17/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyCam.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>785CPL56AF</string>
						<key>name</key>
						<string>Shweta Dahiya (Individual)</string>
					</dict>
					<key>versionNumber</key>
					<string>4.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0CA364D035FBC8213366ABD150A90B6C19E22A72</string>
						<key>dateExpires</key>
						<string>3/17/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>785CPL56AF</string>
						<key>name</key>
						<string>Shweta Dahiya (Individual)</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0CA364D035FBC8213366ABD150A90B6C19E22A72</string>
						<key>dateExpires</key>
						<string>3/17/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ZIPFoundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>785CPL56AF</string>
						<key>name</key>
						<string>Shweta Dahiya (Individual)</string>
					</dict>
					<key>versionNumber</key>
					<string>0.9.11</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0CA364D035FBC8213366ABD150A90B6C19E22A72</string>
						<key>dateExpires</key>
						<string>3/17/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>iOSDFULibrary.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>785CPL56AF</string>
						<key>name</key>
						<string>Shweta Dahiya (Individual)</string>
					</dict>
					<key>versionNumber</key>
					<string>4.11.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>785CPL56AF.com.fit.science.athena</string>
				<key>com.apple.developer.team-identifier</key>
				<string>785CPL56AF</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Footsee.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>fb07ec27-5d88-425a-90f2-7a7c9da354f1</string>
				<key>dateExpires</key>
				<string>3/17/23</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.fit.science.athena</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>785CPL56AF</string>
				<key>name</key>
				<string>Shweta Dahiya (Individual)</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
